SemgrepReports/*
*.json
infer-*
.idea
*.log
TargetProjects/
ChangedFilesList/
FC-Miner/
.project
.settings/
.classpath
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle
*.csv
# Ignore Gradle build output directory
build

.gitattributes
gradlew
gradlew.bat
settings.gradle
