pmd-bin-6.25.0/
TargetProjects/
*.txt
ChangedFilesList/
FC-Miner/
.project
.settings/
.classpath
bin/
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle
*.csv
# Ignore Gradle build output directory
build

.gitattributes
gradlew
gradlew.bat
settings.gradle
